[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prettytable = "*"
requests = "*"
bs4 = "*"
rich = "*"
chevron = "*"
markdown = "*"
pyyaml = "*"
pymysql = "*"
dataset = "*"
openpyxl = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
